{% extends 'layout.html' %}

{% block title %}Competition{% endblock title %}

{% block content%}
		<div class="aurel_cs_content_wrapper">
			<div class="aurel_cs_content_inner">
				<div class="aurel_cs_content competition_text">
					<h1 class="aurel_cs_title">Coming Soon</h1>

					<div class="aurel_element_wrap aurel_element_countdown">
						<time>2022-01-01T00:00:00+0000</time>
					</div>
				</div>
			</div>
		</div>
{% endblock content%}

<!--Remove from absolute when competition is implemented-->
{% block footer%}
	<footer class="aurel_footer aurel_border_off" style="position: absolute !important; bottom: 0px !important;">
		<div class="aurel_footer_inner aurel_container">
			<div class="aurel_copyright">© 2021 ThreeOne Aviation. All Rights Reserved.</div>
		</div>
	</footer>
{% endblock footer%}

